.card-container {
    background-color: rgb(88, 180, 110);
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    column-gap: 10px;
    
}