.character-card {
    background-color: rgb(179, 178, 180);
    border-radius: 8px;
    width: 420px ;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}

.character-footer {
    background-color:black;
    color: whitesmoke;
    margin: 0px;
    border-radius: 0 0px 8px 8px;
}

.explore-link {
    margin: 0;
    padding: 10px
}

.clazz-image {
    /* width: auto; */
    /* height: 618px; */
}